html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
  min-height: 100%;
  padding-bottom: 5rem;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: #666;
}
.appointmentList .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.appointmentList .media:last-of-type{
  border-bottom: 0;
}
.appointmentList .media-body p {
  margin:0;
}
.appointmentList .media-body button {
  margin-top: 1rem!important;
}
.appointmentList .media-body span {
  font-weight: bold;
}
.col-form-label {
  font-size: 17px;
}